.flex-row-container {
    /* background: #aaa; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .flex-row-container > .flex-row-item {
    flex: 25%; 
    height: 30px;
  }
  hr.solid {
    border-top: 3px solid #000;
  }