.header-container,
.results-container {
  display: flex;
  flex-flow: column wrap;
}

.header-container .headers,
.results-container .restaurantResults {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
}

.jumbotron-custom {
  width: 100%;
  background-color: rgba(68, 66, 68, 0.11);
  text-align: Center;
}

.radio_buttons {
  background-color: rgba(8, 8, 8, 0.658);
}

.radio_buttons:selection {
  background-color: #ffffff;
}

.dropdown_color{
  color: #000000
}