.header-container,
.results-container {
  display: flex;
  flex-flow: column wrap;
}

.header-container .headers,
.results-container .restaurantResults {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 180px;
  width: 100%;
}
.jumbotron-custom {
  width: 100%;
  background-color: rgba(68, 66, 68, 0.11);
  text-align: Center;
}

.custom-flex {
  width: 100%;
}

hr.solid {
  border-top: 3px solid #000;
}